
*{
    box-sizing: border-box;
}
body{
    display: flex;
}
#main{
    position: relative;
    margin-top: 5%;
    display: flex;
    background-color: #EEEEEE;
    width: 40%;
    margin-left: 30%;
    margin-top: 1%;
}
#container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin: 2%;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#cont1{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 4;
    background-color: #F3E1FF;
}
#cont2{
   display: flex;
   flex-direction: column;
}
.generateMeal{
    display: flex;
    flex: 5;
    flex-direction: column;
    border-radius: 10px;
    margin: 5%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.divImg{
    border-radius: 10px;
    flex: 4;
}
.divImg img{
    width: 100%;
    height: 300px;
}
.labelRec{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
input{
    height: 30px;
    width: 210px;
    background-color: #EEEEEE;
    border: none;
}
i{
    margin-top: 7%;
    opacity: 0.3;
    display: flex;
    justify-content: flex-end;
}
.fa-solid.fa-heart{
   margin-right: 2%;
}
.labelRec p{
    margin-left: 5%;
    font-size: xx-large;
}
button{
    margin-top: 5%;
    width: 35%;
    height: 10%;
    background-color: white;
    position: absolute;
    border: none;
    font-size: large;
    border-radius: 5px;
}
#imgPan{
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgPan img{
    width: 25%;
    border-radius: 50%;
}
.meal-details-content{
    margin-top: -20%;
    background-color: white;
    width: 500px;
    height: 200px;
    border-radius: 20px;
    box-shadow: rgba(241, 21, 230, 0.4) 0px 30px 90px;
    z-index: 3;
}
.meal-details{
    position: fixed;
    width: 600px;
    left: 32%;
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    display: none;
    animation: bounce;
    animation-duration: 2s; 
}
.meal-details.showDescription{
    display: flex;
}
 #reciepe::-webkit-scrollbar{
    width:10px;
    height:5px
}
#reciepe::-webkit-scrollbar-thumb{
    background: plum;
    border-radius: 10px;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: white;
}
span{
    display: flex;
    justify-content: center;
    position: absolute; 
    left: 50%;
    top:1%;
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: black;
    border: 1px solid black;
    font-size: x-large;
    font-weight: bold;
}
#imgDesc{
    flex: 4;
    background-color: white;
}
#imgDesc img{
    width: 100%;
    height: 300px;
}
#reciepe{
    background-color: white;
    flex: 4;
    height: 250px;
    overflow-y: scroll;
}
p{
    font-size: large;
    font-weight: bold;
}